<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>faq-detail</title>
    <div th:replace="/head_css :: head_css"></div>
    <link rel="stylesheet" href="/style/service/faq-detail.css" />
</head>

<body>
<div th:replace="/header :: header"></div>
<div th:insert="/service/service-header :: service-header"></div>
<div id="faq-container">
    <div class="faq-inner">
        <h2 id="faq">TECHSUPP 자주하는 질문</h2>

        <div class="align-form">
            <form action="/faq/detail/${faq.faqId}" method="POST" enctype="multipart/form-data">
                <div>
                    <div class="faq-info">
                        <!-- 제목 -->
                        <div>
                            <span id="faq-title" th:name="faqTitle" th:text="${faq.faqTitle}"></span>
                        </div>
                        <div class="faq-sub">
                            <!-- 게시글 번호 -->
                            <div>
                                <label for="faq-id">게시글 번호 : </label>
                                <span id="faq-id" th:text="${faq.faqId}"></span>
                            </div>

                            <!-- 작성자 -->
                            <div>
                                <label for="faq-writer">작성자 : </label>
                                <span id="faq-writer" th:text="${faq.faqWriter}"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- 내용 -->
                        <div>
                            <div id="faq-contents" name="faqContents" th:utext="${faq.faqContents}"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
