<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>techsupp 고객센터</title>
    <div th:replace="/head_css :: head_css"></div>
    <link rel="stylesheet" href="/style/service/faq-list.css"/>
</head>

<body>
<div th:replace="/header :: header"></div>
<div th:insert="/service/service-header :: service-header"></div>

<div class="align-form">
    <form id="listForm">
        <div class="container-fluid px-3">
            <div class="card mb-4">
                <div class="card-body">
                    <table class="table" id="result">
                        <div class="top-faq">
                            TOP FAQ
                        </div>
                        <tbody>
                        <tr th:each="faq: ${faqList}">
                            <td class="faq-con">
                                <span class="question">Q</span>
                                <span class="faq-title"><a th:href="@{|/cs/faq/${faq.faqId}|}" th:text="${faq.faqTitle}"></a></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/script/header.js"></script>
<script src="/script/service/userNotice.js"></script>
</body>
</html>