<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>techsupp 고객센터</title>
    <div th:replace="/head_css :: head_css"></div>
    <link rel="stylesheet" href="/style/service/paging.css"/>
</head>
<body>
<div th:insert="/header :: header"></div>
<div th:insert="/service/service-header :: service-header"></div>

<div class="align-form">
    <form id="listForm">
        <div class="container-fluid px-3">
            <div class="card mb-4">
                <div class="card-body">
                    <table class="table" id="result">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="notice: ${noticeList}">
                            <td th:text="${notice.noticeId}"></td>
                            <td><a th:href="@{|/notice/${notice.noticeId}|(page=${noticeList.number + 1})}"
                                   th:text="${notice.noticeTitle}"></a></td>
                            <td th:text="${notice.noticeWriter}"></td>
                            <td th:text="${notice.noticeHits}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="align-form">
                <div id="pagingForm">
                    <a th:href="@{/notice/paging(page=1)}">First</a>
                    <!-- 이전 링크 활성화 비활성화 -->
                    <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
                    <a th:href="${noticeList.first} ? '#' : @{/notice/paging(page=${noticeList.number})}">prev</a>

                    <!-- 페이지 번호 링크(현재 페이지는 숫자만) for(int page=startPage; page<=endPage; page++)-->
                    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == noticeList.number + 1}" th:text="${page}"></span>
                        <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
            <span th:unless="${page == noticeList.number + 1}">
                <a th:href="@{/notice/paging(page=${page})}" th:text="${page}"></a>
            </span>
        </span>
                    <!-- 다음 링크 활성화 비활성화
                        사용자: 2페이지, getNumber: 1, 3페이지-->
                    <a th:href="${noticeList.last} ? '#' : @{/notice/paging(page=${noticeList.number + 2})}">next</a>
                    <!-- 마지막 페이지로 이동 -->
                    <a th:href="@{/notice/paging(page=${noticeList.totalPages})}">Last</a>

<!--                    <div id = "button">-->
<!--                    <button onclick="pagingReq()"><a href="/notice/save">공지작성</a></button>-->
<!--                    </div>-->
                </div>
            </div>
<!--            <div id = "button">-->
<!--                <button onclick="pagingReq()"><a href="/notice/save">공지작성</a></button>-->
<!--            </div>-->
        </div>
    </form>
</div>

</body>

<script>
<!--    const saveReq = () => {-->
<!--        location.href = "/notice/save";-->
<!--    }-->









</script>

</html>