<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>question-detail</title>
  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <td th:text="${question.questionId}"></td>
  </tr>
  <tr>
    <th>writer</th>
    <td th:text="${question.questionWriter}"></td>
  </tr>
  <th>category</th>
  <td th:text="${question.questionCategory}"></td>
  </tr>
  <tr>
    <th>title</th>
    <td th:text="${question.questionTitle}"></td>
  </tr>
  <tr>
<!--    <th>date</th>-->
    <!--    <td th:text="${notice.noticeregDate}"></td>-->
  </tr>
  <tr>
    <th>contents</th>
    <td th:text="${question.questionContents}"></td>
  </tr>
  <tr th:if="${question.fileAttached == 1}">
    <th>image</th>
    <td><img th:src="@{|/upload/${question.storedFileName}|}" alt=""></td>
  </tr>
</table>
<button onclick="question-listReq()"><a href="/notice/question-list">문의사항</a></button>
<button onclick="question-updateReq()"><a th:href="@{/notice/question-update/{questionId}(questionId=${question.questionId})}">수정</a></button>


<!-- 댓글 작성 부분 -->
<!--<div id="comment-write">-->
<!--  <input type="text" id="commentWriter" placeholder="작성자">-->
<!--  <input type="text" id="commentContents" placeholder="내용">-->
<!--  <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>-->
<!--</div>-->

<!-- 댓글 출력 부분 -->
<!--<div id="comment-list">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <th>댓글번호</th>-->
<!--      <th>작성자</th>-->
<!--      <th>내용</th>-->
<!--      <th>작성시간</th>-->
<!--    </tr>-->
<!--    <tr th:each="comment: ${commentList}">-->
<!--      <td th:text="${comment.id}"></td>-->
<!--      <td th:text="${comment.commentWriter}"></td>-->
<!--      <td th:text="${comment.commentContents}"></td>-->
<!--      <td th:text="${comment.commentCreatedTime}"></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->

</body>
<script th:inline="javascript">
    const listReq = () => {
        console.log("목록 요청");
        const id = [[${question.questionId}]];
</script>
</html>
