<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>question-detail</title>-->
<!--    &lt;!&ndash;  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>&ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="/style/service/qna-detail.css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="/header :: header"></div>-->
<!--<div th:insert="/service/service-header :: service-header"></div>-->

<!--question-detail.html-->

<!--<div class="align-form">-->
<!--    <form id="signUpForm" action="/cs/question-detail" method="POST" enctype="multipart/form-data">-->
<!--        <div>-->
<!--            <div id="userId-box" class="form-group col-md-4">-->
<!--                <label for="questionId">번호</label>-->
<!--                <input type="text" id="questionId" name="questionId"-->
<!--                       th:value="${question.questionId}" readonly>-->
<!--            </div>-->
<!--            &lt;!&ndash; 작성자 &ndash;&gt;-->
<!--            <div id="username-box" class="form-group col-md-4">-->
<!--                <label for="questionWriter">작성자</label>-->
<!--                <input id="questionWriter" class="form-control"-->
<!--                       th:value="${question.questionWriter}" readonly>-->
<!--            </div>-->
<!--            &lt;!&ndash;            비밀번호&ndash;&gt;-->
<!--            <div id="pass-box" class="form-group col-md-4">-->
<!--                <label for="questionPass">비밀번호</label>-->
<!--                <input id="questionPass" type="password" class="form-control"-->
<!--                       th:value="${question.getQuestionPwd}" readonly>-->
<!--            </div>-->
<!--            &lt;!&ndash;            분류&ndash;&gt;-->
<!--            <div id="checkpassword-box" class="form-group col-md-4">-->
<!--                <label for="questionCategory">분류</label>-->
<!--                <input type="text" id="questionCategory" class="form-control"-->
<!--                       th:value="${question.questionCategory}" readonly>-->
<!--            </div>-->
<!--            &lt;!&ndash; 제목 &ndash;&gt;-->
<!--            <div id="password-box" class="form-group col-md-4">-->
<!--                <label for="questionTitle">제목</label>-->
<!--                <input type="text" id="questionTitle" class="form-control"-->
<!--                       th:value="${question.questionTitle}" readonly>-->
<!--            </div>-->
<!--            &lt;!&ndash; 내용 &ndash;&gt;-->
<!--            <div>-->
<!--                <label for="questionContents">내용</label>-->
<!--                <textarea id="questionContents" name="questionContents" cols="60" rows="10"-->
<!--                          th:text="${question.questionContents}" readonly></textarea>-->
<!--            </div>-->
<!--            &lt;!&ndash; 첨부파일 &ndash;&gt;-->
<!--            <div id="phoneNum-box" class="form-group col-md-4">-->
<!--                <label for="questionFile">첨부파일</label>-->
<!--                &lt;!&ndash;                <input type="file" id="questionFile" class="form-control"&ndash;&gt;-->
<!--                &lt;!&ndash;                       th:if="${question.fileAttached == 1}">&ndash;&gt;-->
<!--                <a id="questionFile"-->
<!--                   th:href="@{/notice/question-list/fileDownload/{questionId}(questionId=${question.questionId})}"-->
<!--                   th:text="${question.originalFileName}">파일이름1.png</a>-->
<!--            </div>-->

<!--            <div>-->
<!--                <button onclick="question-pagingReq()">-->
<!--                    <a href="/cs/question-list">문의사항</a></button>-->
<!--                <button onclick="question-updateReq()">-->
<!--                    <a th:href="@{/notice/question-update/{questionId}(questionId=${question.questionId})}">수정</a>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;        &lt;!&ndash;댓글 작성 부분&ndash;&gt;&ndash;&gt;-->
<!--        <div id="comment-write">-->
<!--            <input type="text" id="commentWriter" placeholder="관리자">-->
<!--            <input type="text" id="commentContents" placeholder="내용">-->
<!--            <input type="button" id="comment-write-btn" onclick="commentWrite()" value="댓글작성">-->
<!--        </div>-->
<!--        &lt;!&ndash;        &lt;!&ndash;댓글 출력 부분&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;                <div id="comment-list">&ndash;&gt;-->
<!--        <div id="comment-list">-->
<!--            <table>-->
<!--                &lt;!&ndash;                                    <tr>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <th>번호</th>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <th>작성자</th>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <th>내용</th>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </tr>&ndash;&gt;-->
<!--                <tr th:each="comment: ${commentList}">-->
<!--&lt;!&ndash;                    <td th:text="${comment.commentId}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${comment.commentWriter}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                         <a th:text="${comment.commentContents}"></a>&ndash;&gt;-->
<!--                    <td>-->
<!--                        <label>답글</label>-->
<!--                        <textarea name="commentContents" cols="40" rows="15"-->
<!--                                  th:text="${comment.commentContents}" readonly></textarea>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--    </form>-->

<!--</div>-->

<!--&lt;!&ndash;댓글 작성 부분&ndash;&gt;-->
<!--&lt;!&ndash;<div id="comment-write">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="commentWriter" placeholder="작성자">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="commentContents" placeholder="내용">&ndash;&gt;-->
<!--&lt;!&ndash;    <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;댓글 출력 부분&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div id="comment-list">&ndash;&gt;-->
<!--&lt;!&ndash;    <table>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>댓글번호</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>작성자</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>내용</th>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;      <th>작성시간</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr th:each="comment: ${commentList}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${comment.commentId}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${comment.commentWriter}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${comment.commentContents}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;      <td th:text="${comment.commentCreatedTime}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>번호</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${question.questionId}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>작성자</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${question.questionWriter}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>비밀번호</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td th:text="${question.questionPass}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>분류</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td th:text="${question.questionCategory}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>제목</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${question.questionTitle}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;    <th>date</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;    <td th:text="${notice.noticeregDate}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>내용</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${question.questionContents}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr th:if="${question.fileAttached == 1}">&ndash;&gt;-->
<!--&lt;!&ndash;        <th>첨부파일</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td><a th:href="@{/notice/question-list/fileDownload/{questionId}(questionId=${question.questionId})}"&ndash;&gt;-->
<!--&lt;!&ndash;               th:text="${question.originalFileName}">파일이름1.png</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;    <td><img th:src="@{|/upload/${question.storedFileName}|}" alt=""></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--&lt;!&ndash;<button onclick="question-listReq()"><a href="/notice/question-list">문의사항</a></button>&ndash;&gt;-->
<!--&lt;!&ndash;<button onclick="question-pagingReq()"><a href="/notice/question-paging">문의사항</a></button>&ndash;&gt;-->
<!--&lt;!&ndash;<button onclick="question-updateReq()"><a&ndash;&gt;-->
<!--&lt;!&ndash;        th:href="@{/notice/question-update/{questionId}(questionId=${question.questionId})}">수정</a></button>&ndash;&gt;-->


<!--&lt;!&ndash;댓글 작성 부분&ndash;&gt;-->
<!--&lt;!&ndash;<div id="comment-write">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="commentWriter" placeholder="작성자">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="commentContents" placeholder="내용">&ndash;&gt;-->
<!--&lt;!&ndash;    <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;댓글 출력 부분&ndash;&gt;-->
<!--&lt;!&ndash;<div id="comment-list">&ndash;&gt;-->
<!--&lt;!&ndash;    <table>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>댓글번호</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>작성자</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>내용</th>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;      <th>작성시간</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr th:each="comment: ${commentList}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${comment.commentId}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${comment.commentWriter}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${comment.commentContents}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;      <td th:text="${comment.commentCreatedTime}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</body>-->
<!--<script th:inline="javascript">-->
<!--    const commentWrite = () => {-->
<!--        const writer = document.getElementById("commentWriter").value;-->
<!--        const contents = document.getElementById("commentContents").value;-->
<!--        console.log("작성자: ", writer);-->
<!--        console.log("내용: ", contents);-->
<!--        const id = [[${question.questionId}]];-->
<!--        $.ajax({-->
<!--           // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호-->
<!--           type: "post",-->
<!--           url: "/comment/save",-->
<!--           data: {-->
<!--               "commentWriter": writer,-->
<!--               "commentContents": contents,-->
<!--               "questionId": id-->
<!--           },-->
<!--          success: function (res) {-->
<!--               if(res){-->
<!--                    location.href="/notice/question-list/"+id;-->
<!--               }-->

<!--           },-->
<!--           error: function (err) {-->
<!--               console.log("요청실패", err);-->
<!--           }-->
<!--        });-->


<!--    }-->

<!--    const listReq = () => {-->
<!--        console.log("목록 요청");-->
<!--        const id = [[${question.questionId}]];-->
<!--    }-->











<!--</script>-->
<!--</html>-->
