<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorator="layout/default_layout">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>question-check</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:insert="/header :: header"></div>-->
<!--<div layout:fragment="content">-->
<!--    <div>-->
<!--        <form name="question-form" action="/notice/question-check" autocomplete="off" method="post">-->
<!--            <div>-->
<!--                <input type="hidden" name="questionId" th:value="${questionId}">-->
<!--                <br />-->
<!--                글을 작성할 때 입력했던 비밀번호를 적어주세요-->
<!--                <input type="questionPass" id="questionPass" name="password" maxlength='6'  value="" placeholder="비밀번호">-->
<!--                <input type="button" class="btn btn-outline-primary mr-7"onclick="checkPassword()" value="비밀번호 확인">-->
<!--                <br />-->
<!--                <a th:href="/notice/question-list"><input type="button" class="btn btn-outline-primary mr-2" value="취소"></input></a>-->
<!--            </div>-->
<!--        </form>-->

<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->