<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>update</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div th:insert="/header :: header"></div>
<form action="/notice/update" method="post" name="updateForm">
  noticeId: <input type="text" name="noticeId" th:value="${noticeUpdate.noticeId}" readonly>
  writer: <input type="text" name="noticeWriter" th:value="${noticeUpdate.noticeWriter}" readonly> <br>
  title: <input type="text" name="noticeTitle" th:value="${noticeUpdate.noticeTitle}"> <br>
  contents: <textarea name="noticeContents" cols="30" rows="10" th:text="${noticeUpdate.noticeContents}"></textarea> <br>
  file: <input type="file" name="noticeFile"> <br>
  <input type="hidden" name="noticeHits" th:value="${noticeUpdate.noticeHits}">
  <input type="submit" value="공지수정">
<!--  <input type="button" value="공지수정" onclick="noticeUpdate()">-->
<!--  <button><a href="/notice/list">공지수정</a></button>-->
</form>
</body>