<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <div th:replace="/head_css :: head_css"></div>
    <link rel="stylesheet" href="/style/service/notice-details.css"/>
</head>
<body>
<div th:insert="/header :: header"></div>
<div th:insert="/service/service-header :: service-header"></div>

<div id="notice-container">
    <div class="notice-inner">
        <h2 id="notice">TECHSUPP 고객센터 공지사항</h2>

        <div class="align-form">
            <form action="/notice/detail/${notice.noticeId}" method="POST" enctype="multipart/form-data">
                <div>
                    <div class="notice-info">
                        <!-- 제목 -->
                        <div>
                            <span id="notice-title" th:name="noticeTitle" th:text="${notice.noticeTitle}"></span>
                        </div>
                        <div class="notice-sub">
                            <!-- 게시글 번호 -->
                            <div>
                                <label for="notice-id">게시글 번호 : </label>
                                <span id="notice-id" th:text="${notice.noticeId}"></span>
                            </div>

                            <!-- 작성자 -->
                            <div>
                                <label for="notice-writer">작성자 : </label>
                                <span id="notice-writer" th:text="${notice.noticeWriter}"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- 내용 -->
                        <div>
                            <div id="notice-contents" name="noticeContents" th:utext="${notice.noticeContents}"></div>
                        </div>

                        <div id="notice-attachment">
                            <span th:if="${notice.originalFileName != null}">
                                <label for="noticeFile">첨부파일 -</label>
                                <a id="noticeFile"
                                   th:href="@{/notice/fileDownload/{noticeId}(noticeId=${notice.noticeId})}"
                                   th:text="${notice.originalFileName}"></a>
                            </span>
                        </div>


                        <!--                        <div id="notice-attachment">-->
                        <!--                            <label for="noticeFile">첨부파일 -</label>-->
                        <!--                            &lt;!&ndash;                    <input id="noticeFile" type="file" class="form-control"&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                           th:if="${notice.fileAttached == 1}">&ndash;&gt;-->
                        <!--                            <span th:if="${notice.originalFileName != null}>-->
                        <!--                                <a id="noticeFile" th:href="@{/notice/fileDownload/{noticeId}(noticeId=${notice.noticeId})}"-->
                        <!--                                   th:text="${notice.OriginalFileName}"></a>-->
                        <!--                            </span>-->
                        <!--                        </div>-->


                        <!--                        <div>-->
                        <!--                            <button onclick="pagingReq()">-->
                        <!--                                <a href="/notice/paging">공지사항</a></button>-->
                        <!--                            <button onclick="updateReq()"><a th:href="@{/notice/update/{noticeId}(noticeId=${notice.noticeId})}">수정</a></button>-->
                        <!--                        </div>-->
                        <!--                <div>-->
                        <!--                    <button onclick="updateReq()">-->
                        <!--                        <a th:href="@{/notice/update/{noticeId}(noticeId=${notice.noticeId})}">수정</a></button>-->
                        <!--                </div>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>