<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layouts/base">

<div layout:fragment="content" class="content">

    <form th:action="@{/admin/faq/register}" th:method="POST" enctype="multipart/form-data" th:object="${faq}">
        <div th:class="faq-details" style="padding: 3rem">
            <h2>FAQ 작성</h2>
            <!-- 작성자 -->
            <div class="form-group col-md-4" style="margin: 1rem 1rem 1rem 0rem;">
                <label for="faqWriter">작성자</label>
                <input type="text" id="faqWriter" class="form-control" placeholder="관리자"
                       th:field="${faq.faqWriter}">
            </div>
            <!-- 제목 -->
            <div class="form-group col-md-4" style="margin: 1rem 1rem 1rem 0rem;">
                <label for="faqTitle">제목</label>
                <input type="text" id="faqTitle" class="form-control" placeholder="제목"
                       th:field="${faq.faqTitle}">
            </div>
            <!-- 내용 -->
            <div class="mb-3">
                <label class="small mb-1">내용</label>
                <textarea class="form-control" rows="5" name="information" id="content" th:field="${faq.faqContents}"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">FAQ 작성</button>

        </div>
    </form>
</div>
</html>