<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layouts/base">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".deleteConfirm").on("click", function(event) {
                event.preventDefault();
                const noticeId = $(this).data("noticeId");

                if (confirm('정말 삭제하시겠습니까?')) {
                    $.ajax({
                        type: 'DELETE',
                        url: "/admin/notice/delete/" + noticeId,
                        contentType: 'application/json',
                        data: { noticeId: noticeId },
                        success: function(response) {
                            console.log("Success:", response);
                            alert("삭제했습니다.");
                            location.reload();
                        },
                        error: function(error) {
                            alert("삭제에 실패했습니다.");
                            console.log(error)
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">공지사항<span>
            <a th:href="@{/admin/notice/resister}">
                <button type="button" class="btn btn-outline-primary">공지사항 등록</button>
            </a></span>
        </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a th:href="@{/admin/}">Dashboard</a></li>
            <li class="breadcrumb-item active">공지사항</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <table class="table" id="result">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>조회수</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice: ${noticeList}">
                        <td th:text="${notice.noticeId}"></td>
                        <td><a th:href="@{|/admin/notice/${notice.noticeId}|}" th:text="${notice.noticeTitle}"></a></td>
                        <td th:text="${notice.noticeWriter}"></td>
                        <td th:text="${notice.noticeHits}"></td>
                        <td><a th:href="@{|/admin/notice/${notice.noticeId}|}">수정</a></td>
                        <td><a class="deleteConfirm" href="#" th:data-notice-id="${notice.noticeId}">삭제</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
