<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layouts/base">

<div layout:fragment="content" class="content">
    <div class="p-3 m-0 border-0 bd-example">

        <figure class="text-center">
            <blockquote class="blockquote">
                <p>환영 합니다. 관리자님</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                본 페이지는 <cite title="Source Title">관리자 페이지</cite> 입니다.
            </figcaption>
        </figure>

    </div>

</div>

</html>