<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TECHSUPP</title>
    <th:block th:replace="/head_css :: head_css"></th:block>
    <link href="/style/mypage/checkPassword.css" rel="stylesheet">
    <link href="/style/mypage/myPage-sideBox.css" rel="stylesheet">
</head>
<body>
<!--공통되는 header-->
<div th:replace="/header :: header"></div>
<div class="checkPwd-container">
    <!-- 사이드 메뉴 -->
    <div th:replace="/mypage/myPage-sideBox :: mypage-sideBox"></div>
    <!-- 사이드 메뉴 끝 -->
    <div class="text-center">
        <form id="checkPwdForm" method="POST" action="/checkpassword">
            <h4>비밀번호 확인</h4>
            <div class="check-pwd">
                <input type="password" id="password" name="password" class="form-control">
                <div id="modify-cancel">
                    <div id="checkPassword" class="confirm-cancel">
                        <button type="button" value="확인" class="btn btn-info"></a>확인</button>
                    </div>
                    <div id="cancel" class="confirm-cancel">
                        <button type="button" value="취소" onclick="goMyPage();" class="btn btn-light"></a>취소</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
    <script src="/script/mypage/checkPassword.js"></script>
    <script src="/script/mypage/checkPassword1.js"></script>
    <script src="/script/mypage/myPage.js"></script>
</body>
</html>