<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TECHSUPP </title>
    <div th:replace="/head_css :: head_css"></div>
    <link href="/style/mypage/myInquiry.css" rel="stylesheet">
    <link href="/style/mypage/myPage-sideBox.css" rel="stylesheet">
</head>
<body>
<!--공통되는 header-->
<div th:replace="/header :: header"></div>
<div class="myInquiry_container">
    <!-- 사이드 메뉴 -->
    <div th:replace="/mypage/myPage-sideBox :: mypage-sideBox"></div>
    <!-- 사이드 메뉴 끝 -->
    <div class="align-form">
        <h3 class="title_head">문의내역</h3>
        <div class="inquiry">
            <div class="question-list" th:each="question : ${questionList}">
                <div class="question-accordion">
                    <!-- accordion question -->
                    <div class="accordion-question">
                        <div class="question-t">
                            <div class="flex-align">
                                <i class="fas fa-solid fa-circle-question"></i>
                                <div class="question-status margin-l" th:name="questionStatus" th:text="${'[' + question.questionStatus.getAnswer() + ']'}"></div>
                                <div class="question-title" th:text="${question.postTitle}"></div>
                            </div>

                            <div class="flex-align">
                                <div th:if="${question.questionStatus.getAnswer() == '답변대기'}" class="question-actions">
                                    <a class="btn btn-edit" th:href="@{/user/inquiry/edit/{questionId}(id=${question.postId})}">수정</a>
                                    <a class="btn btn-delete deleteConfirm" href="#" th:data-question-id="${question.postId}">삭제</a>
                                </div>
                                <i class="fa-solid fa-chevron-down accordion-btn"></i>
                            </div>
                        </div>
                        <span class="question-createdAtQ" th:text="${question.getFormattedCreatedAtQ()}"></span>
                        <p class="question-content font-15" th:name="questionContent" th:text="${question.postContents}"></p>
                    </div>
                    <!-- accordion answer -->
                    <div class="accordion-answer">
                        <div class="answer" th:if="${question.getQuestionAnswer()}">
                            <div class="flex-align">
                                <i class="fa-solid fa-comment"></i>
                                <div class="margin-l" th:text="${question.questionAnswer.getAnswerWriter()}"></div>
                            </div>
                            <div class="question-createdAtA" th:text="${question.questionAnswer.getFormattedCreatedAtA()}"></div>
                            <div class="answer-content font-15" th:text="${question.questionAnswer.answerContent}"></div>
                        </div>
                        <div class="answer" th:unless="${question.getQuestionAnswer()}">
                            <div class="qna-answer-n font-15">등록된 답변이 없습니다</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <script src="/script/mypage/myPage.js"></script>
    <script src="/script/mypage/myInquiry.js"></script>
</body>
</html>
