<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="/style/feedbackStyle.css">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>TECHSUPP</title>
</head>
<body>
  <!-- 헤더 -->
  <header class="Header">헤더 생성은 스크립트로</header> 
  <!-- 정렬 검색 -->
  <div class="ContainerFeedbackSort">정렬 / 검색 생성은 스크립트로  </div>
  <div class="ContainerFeedbackList">리스트 생성은 스크립트로 </div>
  
  <div class="PagingContainer">페이징 생성은 스크립트로  </div>


<!-- 스크립트 -->
<!-- spring 경로 -->
<!-- 헤더 생성 -->
<script type="text/javascript" src="/script/feedback/createHeader.js"></script>
<!-- sort/search 생성 -->
<script type="text/javascript" src="/script/feedback/createContainerFeedbackContentSort.js"></script>
<!-- feedbackList 생성 -->
<script type="text/javascript" src="/script/feedback/createFeedbackList.js"></script>
<!-- 생성된 feedbackContent에 이벤트 추가 -->
<script type="text/javascript" src="/script/feedback/feedbackLinkOnClick.js"></script>
<!-- 페이징 생성 -->
<script type="text/javascript" src="/script/feedback/createPaging.js"></script>  



  <footer>
    footer
  </footer>
</body>
</html>