    .text-center {
    display: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    }

    #modify{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    #cancel{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

    label {
        display: flex;
        justify-content: start;
        margin-left: 10px;
    }


    .align-form {
        display: flex;
        flex-direction: block;
        justify-content: center;
    }

    #modify-cancel {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }