#top_box {
  padding: 100px 0 0 250px;
}

.ing_box {
  width: 800px;
  height: 200px;
  border: 2px solid green;
  margin-bottom: 30px;
}

#bottom_box {
  padding: 100px 0 0 250px;
}

.past_box {
  width: 800px;
  height: 200px;
  border: 2px solid green;
  margin-bottom: 30px;
}

#entire_box {
  display: flex;
  flex-direction: row;
}

#sidebar_box {
  padding: 150px 0 0 130px;
  width: 300px;
  height: 800px;
}

#mypage_btn {
  margin-bottom: 30px;
  width: 200px;
  height: 80px;
  border: 2px solid red;
}

.btn_box {
  margin-bottom: 30px;
  width: 200px;
  height: 80px;
  border: 2px solid blue;
}

#main_box {
  width: 100%;
  padding-left: 30px;
}


.page-btn.active {
  background-color: yellow;
}