
    h4 {
        margin-bottom: 2rem;
        font-family: 'Ubuntu', sans-serif;
    }

    /*내 코드*/
    .mypage-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    /*내 코드*/
    #member-info-form {
        max-width: 800px;
        padding: 48px 150px;
        border-radius: 8px;
        background-color: rgb(247, 247, 247);
        position: relative;
    }

    #signUpForm {
        display: flex;
        flex-direction: block;
        justify-content: center;
        width: 500px;
    }

    .form-group {
        width: 450px;
        margin: 10px;
    }

    #email {
        border: none;
        background-color: transparent;
        color: #000;
        font-size: 16px;
        width: 350px;
        margin-right: 5px;
    }

    #email-duplication {
        width: auto;
        margin-left: 5px;
        margin-top: 5px;
    }

    #signUpbtn{
        margin: 10px;
        width: 185px;
    }

    #naver_id_login {
        margin: 10px;
    }

    label {
        display: flex;
        justify-content: start;
        padding: 10px;
        font-size: large;
        border-bottom: 1px solid rgba(220,227,233,.8);
    }

    #emailHelp {
        display: flex;
        justify-content: start;
    }

    #password-same {
        display: flex;
        justify-content: start;
    }

    #email-certification {
        display: flex;
        justify-content: start;
    }

    .align-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        width: 80%;
    }


input[type="name"], input[type="tel"] {
    border: none;
    background-color: transparent;
}


    .board_row {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      box-sizing: border-box;
    }


    /*#mypage_side_box {*/
    /*    !*box-sizing: border-box;*!*/
    /*    !*display: inline-block;*!*/
    /*    !*border: 1px solid #d5d5d5;*!*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    padding-inline-start: 0px;*/
    /*    max-width: 300px;*/
    /*    width: 20%;*/
    /*    !*border: 1px solid #d5d5d5;*!*/
    /*}*/

    /*.btn_box {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    padding: 1.5em;*/
    /*    width: 100%;*/
    /*    !*box-sizing: border-box;*!*/
    /*    border-bottom: 1px solid #d5d5d5;*/
    /*    font-size: large;*/
    /* }*/

    /*.btn_box:hover{*/
    /*  !*box-shadow: 4px 12px 30px 6px rgba(0,0,0,.7);*!*/
    /*  !*transform: scale(1.05);*!*/
    /*    background-color: #55c0d5;*/
    /*    transition: 0.2s ease;*/
    /*}*/

    /*.btn_box:active{*/
    /*  box-shadow: 4px 12px 30px 6px rgba(0,0,0,.9);*/
    /*  transform: scale(0.95);*/

    /*}*/


    /* 일반적인 화면 크기에서 myfavorite_container와 sidebar_box의 규격 조정 */
    /*@media screen and (max-width: 1000px) {*/

    /*  #sidebar_box {*/
    /*    width: 90%;*/
    /*    max-width: 500px;*/
    /*    padding-left: 0;*/
    /*    margin-top: 30px;*/
    /*  }*/
    /*}*/


    /*.mypage_box {*/
    /*    padding: 48px 165px;*/
    /*    border-radius: 8px;*/
    /*    background-color: rgb(247, 247, 247);*/
    /*    !*box-sizing: border-box;*!*/
    /*}*/