#mypage_side_box {
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    /*border: 1px solid #d5d5d5;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0px;
    max-width: 300px;
    width: 20%;
    position: static;
    /*border: 1px solid #d5d5d5;*/
}

.btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    width: 100%;
    /*box-sizing: border-box;*/
    border-bottom: 1px solid #d5d5d5;
    font-size: large;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 200;
}

.btn_box:hover{
    /*box-shadow: 4px 12px 30px 6px rgba(0,0,0,.7);*/
    /*transform: scale(1.05);*/
    background-color: #55c0d5;
    transition: 0.2s ease;
}

.btn_box:active{
    box-shadow: 4px 12px 30px 6px rgba(0,0,0,.9);
    transform: scale(0.95);
}