<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TECHSUPP SERVICE</title>
    <div th:replace="/head_css :: head_css"></div>
    <link href="/style/introduceservice/introduceservice.css" rel="stylesheet">
</head>
<body>
<!--공통되는 header-->
<div th:replace="/header :: header"></div>
    <div class="techsupp">
        <div class="main" id="introduce">
            <div class="title introduce-color">TECHSUPP을 소개해요</div>
            <div class="contents introduce-color">
                <p>TECHSUPP은 전자제품을 판매하는 사이트입니다.</p>
                <p>일정 펀딩 금액이 달성되면, 투자하신 상품을 배송해드려요.</p>
                <p><a class="btn btn-light" th:href="@{/productMain/product?page=0&order=0}">TECHSUPP 상품보러가기</a></p>
            </div>
        </div>
        <div class="main" id="aboutFundding">
            <div class="title">리워드형 펀딩이란?</div>
            <div class="contents">
                <p>프로젝트에 펀딩한 금액의 대가로 메이커가 만든 제품 혹은 서비스를 받는 것이 리워드형 크라우드펀딩입니다.</p>
                <p>이를 통해서 고객들은 기업의 아이디어 넘치는 상품을 저렴한 가격에 구매할 수 있고, 기업은 고객의 후원금을 통해 자본금은 먼저 마련한 후 상품을 제작 배송할 수 있습니다.
                    <br>
                    펀딩이 성공하면 TECSHUPP은 약속한 날에 제품을 보내기 위해 위한 작업을 진행합니다. 배송을 약속한 날까지 관심을 가지고 기다려 주세요.</p>
                </p>
            </div>
        </div>
        <div class="main" id="inquiry">
            <div class="title">TECHSUPP에 대해 더 궁금하신 점이 있나요?</div>
                <p class="contents">문의페이지에 글을 남겨주세요! :)</p>
                <p><a class="btn btn-dark" th:href="@{/notice/question-paging}">문의페이지로 이동</a></p>
        </div>

    </div>
</body>
</html>