<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TECHSUPP SERVICE</title>
</head>
<body>
    <div class="techsupp">
        <div id="introduce">
            <div class="title">
                TECHSUPP을 소개해요
            </div>
            <div class="contents">

            </div>
        </div>
        <div id="aboutFundding">
            <div class="title">
                후원형 펀딩이란?
            </div>
            <div class="contents">

            </div>
        </div>
        <div id="inquiry">
            <div class="title">
                문의 등록
            </div>
            <div class="contents">

            </div>
        </div>

    </div>
</body>
</html>