<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TECHSUPP SERVICE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/style/introduceservice/introduceservice.css" rel="stylesheet">
</head>
<body>
<!--공통되는 header-->
<div th:replace="/header :: header"></div>
    <div class="techsupp">
        <div class="main" id="introduce">
            <div class="title">TECHSUPP을 소개해요</div>
            <div class="contents">
                <p>TECHSUPP은 전자제품을 판매하는 사이트입니다.</p>
                <p>일정 펀딩 금액이 달성되면, 투자하신 상품을 배송해드려요.</p>
                <p><a class="btn btn-light" th:href="@{/productMain/product?page=0&order=0}">TECHSUPP 상품보러가기</a></p>
            </div>
        </div>
        <div class="main" id="aboutFundding">
            <div class="title">후원형 펀딩이란?</div>
            <p class="contents">
                <p></p>
            </p>
        </div>
        <div class="main" id="inquiry">
            <p class="title">
                더 궁금하신 점이 있나요?
            </p>
            <p class="contents">
                문의페이지에 글을 남겨주세요! :)
            </p>
        </div>

    </div>
</body>
</html>