    html,
    body {
        height: 100%;
    }

    .form-center {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        height: 600px;
    }

    .main {
         max-width: 400px;
         padding: 10px;
    }

    .findform {
        display: flex;
        flex-direction: column;
    }

    h3 {
        margin: 10px;
    }

    h5 {
        margin-bottom: 10px;
    }

    hr {
        border: 1px solid black;
        width: auto;
    }

    #idpw-btn {
        display: flex;
        margin-bottom: 15px;
    }

    .form-check {
        margin-left: 15px;
    }

    #username-box {
        width: auto;
        margin-top: 20px;
    }

    #phoneNum-box {
        width: auto;
        margin-top: 20px;
    }

    #email-box {
        width: auto;
        margin-top: 20px;
    }

    #findId-btn {
        width: 330px;
        margin-top: 20px;
    }

    #findPw-btn {
        width: 330px;
        margin-top: 20px;
    }

