/*.nav-item {*/
/*    font-family: "IBM Plex Sans KR", sans-serif;*/
/*}*/

body {
    font-family: "IBM Plex Sans KR", sans-serif;
}

span {
    font-weight: bold;
}

#header-line {
    justify-content: space-between;
    max-width: 90%;
    height: 38px;
}