.align-form {
    display: flex;
    justify-content: center;
}

#listForm {
    display: flex;
    justify-content: center;
    width: 930px;
}

#pagingForm {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

#button {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration-line:none;
    color: black;
}

a:hover {
    color: #5ebee7; /* hover 시 하늘색으로 변경 */
}

.link {
    color: #4c90a8;
}

.top-link {
    color: #27657b;
}