.align-form {
        display: flex;
        justify-content: center;
    }

 #listForm {
            display: flex;
            justify-content: center;
            width: 930px;
        }


#pagingForm{


        justify-content: space-evenly;

    }

#button {

        display: flex;
        justify-content: flex-end;

}

a {

        text-decoration-line:none

}