th, td {
    text-align: center;
}

.align-form {
    display: flex;
    justify-content: center;
}

#listForm {
    display: flex;
    justify-content: center;
    width: 930px;
}


#pagingForm {
    justify-content: space-evenly;
}

#question-head {
    border-bottom: solid 3px #b6b6b6;
}

#question-btn-w {
    display: flex;
    justify-content: flex-end;
}

#question-btn {
    width: 100px;
    height: 40px;
    background-color: gray;
    border: solid 1px gray;
    border-radius: 3px;
}

#question-btn > a {
    color: white;
}

a {
    text-decoration-line: none
}

#answerStatus {
    background-color: #acacac;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: smaller;
}