<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TECHSUPP 아이디 비밀번호 찾기</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/style/login/finduser.css" rel="stylesheet">
</head>
<body>
<div>
    <!--공통되는 header-->
    <div th:replace="/header :: header"></div>
    <div class="form-center">
        <div class="main">
            <div class="findform">
                <h3>
                    아이디 비밀번호 찾기
                </h3>
                <h5>
                    인증된 이메일만 정보 찾기가 가능합니다 :)
                </h5>
                <hr>
                <div id="idpw-btn">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="findId-radio">
                        <label class="form-check-label" for="findId-radio">아이디 찾기</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="findPw-radio" checked>
                        <label class="form-check-label" for="findPw-radio">비밀번호 찾기</label>
                    </div>
                </div>
                <!-- 아이디 찾기 div -->
                <div class="findIdInfo-box">
                    <!-- 이름 -->
                    <div id="idUsername-box" class="form-group col-md-4">
                        <label for="userName">이름</label>
                        <input type="text" id="userName" class="form-control">
                    </div>
                    <!-- 전화번호 -->
                    <div id="phoneNum-box" class="form-group col-md-4">
                        <label for="userPhone">전화번호</label>
                        <input type="tel" id="userPhone" class="form-control" placeholder="010-1234-5678">
                    </div>
                </div>
                <!-- 비밀번호 찾기 div -->
<!--                <div class="findPwInfo-box">-->
<!--                    &lt;!&ndash; 이름 &ndash;&gt;-->
<!--                    <div id="pwUsername-box" class="form-group col-md-4">-->
<!--                        <label for="userName">이름</label>-->
<!--                        <input type="text" id="userName" class="form-control">-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 전화번호 &ndash;&gt;-->
<!--                    <div id="email-box" class="form-group col-md-4">-->
<!--                        <label for="email">이메일</label>-->
<!--                        <input type="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="email@example.com">-->
<!--                    </div>-->
<!--                </div>-->
                <button type="submit" id="find-btn" class="btn btn-primary"></a>확인</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>