<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TECHSUPP 아이디 비밀번호 찾기</title>
    <th:block th:replace="/head_css :: head_css"></th:block>
    <link href="/style/login/finduser.css" rel="stylesheet">
</head>
<body>
<div>
    <!--공통되는 header-->
    <div th:replace="/header :: header"></div>
    <!-- 이메일 찾기 modal -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">이메일 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"><!-- 찾아온 이메일 값 출력 --></div>
                <div class="modal-footer">
                    <button type="button" id="findPw" class="btn btn-secondary" data-bs-dismiss="modal">비밀번호 재발급</button>
                    <button type="button" id="findEmailModal-btn" class="btn btn-primary">확인</button>
                </div>
            </div>
        </div>
    </div>
    <!-- main -->
    <div class="form-center">
        <div class="main">
            <div class="findform">
                <h3>
                    아이디 비밀번호 찾기
                </h3>
                <h5>
                    인증된 이메일만 정보 찾기가 가능합니다 :)
                </h5>
                <hr>
                <div id="idpw-btn">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="find" value="id" checked>
                        <label class="form-check-label">이메일 찾기</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="find" value="pw">
                        <label class="form-check-label">비밀번호 재발급</label>
                    </div>
                </div>

                <!-- 이메일 찾기 -->
                <form id="formFindId" th:action="@{/find/member/id}" method="POST">
                    <!-- 이름 -->
                    <div id="username-box" class="form-group col-md-4">
                        <label for="userName">이름</label>
                        <input type="text" id="userName" class="form-control" placeholder="가입 시 등록한 이름을 입력하세요">
                    </div>
                    <!-- 전화번호 -->
                    <div id="phoneNum-box" class="form-group col-md-4">
                        <label for="userPhone">전화번호</label>
                        <input type="tel" id="userPhone" class="form-control" placeholder="가입 시 등록한 번호를 입력하세요">
                    </div>
                    <button type="submit" id="findId-btn" class="btn btn-primary"></a>확인</button>
                </form>

                <!-- 비밀번호 찾기 -->
                <form id="formFindPw" th:action="@{/find/member/pw}" method="POST">
                    <!-- 이메일 -->
                    <div id="email-box" class="form-group col-md-4">
                        <label for="userEmail">이메일</label>
                        <input type="email" id="userEmail" class="form-control" placeholder="가입 시 등록한 이메일을 입력하세요">
                    </div>
                    <div id="pwMain-col">
                        <button type="submit" id="findPw-btn" class="btn btn-primary">비밀번호 발급</button>
                        <button type="button" id="goLogin" class="btn btn-outline-primary">로그인</button>
                    </div>
                </form>
                <p class="mt-5 mb-3 text-muted">© 2023 TECHSUPP</p>
            </div>
        </div>
    </div>
</div>
<script src="/script/finduser/finduser.js"></script>
</body>
</html>
