<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TECHSUPP 회원가입</title>
  <th:block th:replace="/head_css :: head_css"></th:block>
  <link href="/style/signUp/signUp.css" rel="stylesheet">
</head>
<body>
<!--공통되는 header-->
<div th:replace="/header :: header"></div>
<div class="text-center">
  <h2 class="mb-3">회원가입</h2>
  <div class="align-form">
    <form id="signUpForm" th:action="@{/member/signup}" method="POST">
      <div>
        <!-- 이름 -->
        <div id="username-box" class="form-group col-md-4">
          <label for="userName">이름</label>
          <input type="text" id="userName" class="form-control">
        </div>
        <!--이메일-->
        <div id="email-box" class="form-group col-md-4">
          <label for="email">이메일</label>
          <div id="emailcheck">
            <input type="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="email@example.com">
            <button type="button" id="emailSend" class="btn btn-primary">메일 인증</button>
          </div>
          <small id="emailHelp"></small>
        </div>
        <!--이메일 인증-->
        <div id="emailcheck-box" class="form-group col-md-4">
          <label for="emailAuthNum">이메일 인증번호</label>
          <div id="emailAuth-check">
            <input type="text" class="form-control" id="emailAuthNum">
<!--            <p>세션 시간 제한: <span th:text="${session.maxInactiveInterval}"></span></p>-->
            <button type="button" id="mailCheckNum" class="btn btn-primary">인증 확인</button>
          </div>
        </div>
        <!-- 비밀번호 -->
        <div id="password-box" class="form-group col-md-4">
          <label for="password">비밀번호</label>
          <input id="password" type="password" class="form-control" placeholder="Password">
          <small id="passwordHelp">비밀번호는 문자, 숫자, 특수문자가 포함된 8-20자로 작성해주세요</small>
        </div>
        <!-- 비밀번호 확인 -->
        <div id="checkpassword-box" class="form-group col-md-4">
          <label for="checkPassword">비밀번호 확인</label>
          <input id="checkPassword" type="password" class="form-control">
          <small id="password-same">비밀번호가 일치하지 않습니다</small>
        </div>
        <!-- 전화번호 -->
        <div id="phoneNum-box" class="form-group col-md-4">
          <label for="userPhone">전화번호</label>
          <input type="tel" id="userPhone" class="form-control" placeholder="010-1234-5678">
        </div>
        <div id="techsupp-naverBtn">
          <button type="submit" value="회원가입" id="signUpBtn" class="btn btn-primary"></a>회원가입</button>
          <!-- 네이버로 시작하기 버튼 -->
          <div id="naver_id_login"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/script/signUp/signUp.js"></script>
</body>
</html>