body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 820px; */
  /* margin: 20px; */
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

body > * {
  display: flex;
  justify-content: center;
  /* border: solid;  */
  flex-direction: column;
  margin-left: 10px;
}

/* 헤더 - 메뉴 스타일 */
.Header {
  /* width: 800px;
  border-style: solid; */
  margin: 10px;
}

.Head {
  display: flex;
  /* width: 800px; */
  height: 100px;
  justify-content: space-between;
}

.Menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.NavigationBar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;  
}

.NavigationBar > * {
  margin-left: 20px;
}

.UserControl {
  display: flex;
  flex-direction: flex-end;
  list-style-type: none;
  
}

.UserControl > * {
  margin-left: 10px;
}

.MainPage {
  display: flex;
  justify-content: flex-start;
}

/* 제품 정렬 - 제품 검색  */
.ContainerFeedbackSort {
  display: flex;
  border-style: solid;
  justify-content: space-around;
  flex-direction: row;
  width: 800px;
  height: 40px;
  margin: 10px;
}

.SortByKeyword {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

.SortByKeyword > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  padding: 20px, 80px;
}

.SearchByKeyword {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;  
}

.SearchByKeyword > * {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;  
}

.SortByKeywordAndSearch {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  list-style-type: none;
}

.SortByKeywordAndSearch > * {
  margin-left: 20px;
  padding: 20px, 80px;
}

.ProductSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

/* 피드백 제품 스타일 */

/* flex-basis 사용해서 배치 해보자 (기본 크기 설정하는 것)*/
/* flex-shrink 사용해보자 (비율 설정하는 것 ) */
/* flex-wrap 컨테이너를 벗어났을때 줄바꿈 해주는 것 */
.ProductList > * {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  margin: auto;
}

.ContainerFeedbackList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





.FeedbackContent {
  display: flex;
  border-style: solid;
  justify-content: space-around;
  /* margin: 10px;
  margin-left: 30px; */
  margin: auto;
  margin-bottom: 30px;
  width: 750px;
  border-radius: 10px;
}

.FeedbackContent > * {
  display: flex;
  /* border-style: solid; */
  margin: 4px;
}

.FeedbackListPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.FeebackListInformation {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
}


.FeedbackListName-FeedbackListInformation {
  display: flex;
  flex-direction: column;

}

.FeedbackListName-FeedbackListInformation > * {
  display: flex;
  /* border-style: solid; */
  flex-direction: row;
  margin: 5px;
}

.FeedbackInvestPrice-FeedbackPeriod-FeedbackProductStatus > * {
  display: flex;
  /* border-style: solid; */
  flex-direction: column;
}

/* 페이징 */
.PagingContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: auto;
  
}

.PagingList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left;
  margin-top: 10px;
  margin: auto;
  list-style-type: none;
}

.Page {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

/* 나의 후기 작성하러 가기 버튼 */
.FeedbackGotoWrite {
  display: flex;
  justify-content: center;

  margin: auto;
}

.FeedbackGotoWrite > * {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 50px;
}

/* 작성된 후기 리스트 */
.FeedbackWritenByUserList {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin: auto;
  margin-top: 10px;  
  width: 700px;
  border-radius: 10px;
}

.FeedbackWritenByUser {
  display: flex;
}

.FeedbackPictureByUser {
  display: flex;
  /* border-style: solid; */
  width: 100px;
  margin: 1px;
}

.FeedbackScore-FeedbackUser {
  display: flex;
  border-style: solid;
  justify-content: center;
  flex-direction: column;
  margin: 1px;
}

.FeedbackText {
  display: flex;
  border-style: solid;
  flex-grow: 3;
  margin: 1px;
  width: 450px;
}

/* 피드백 작성 컨테이너 */

.ContainerFeedBackWriteForm {
    display: flex;
    border-style: solid;
    flex-direction: column;
    margin: auto;
    width: 800px;
    border-radius: 10px;
}

.FeedbackInsertScore-FeebackUploadImg {
  display: flex;
  /* border-style: solid; */
  flex-direction: column;
  margin: 5px;
  
}

.FeedbackInsertText {
  display: flex;
  /* border-style: solid; */
  flex-direction: column;
  margin: 5px;
  height: 300px;
  width: auto;
}

.SubmitFeedbackForm {
  display: flex;
  margin: 5px;
}