.techsupp {

}

.title {

}


.main {
    height: auto;
    padding: 10%;
}

.title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.contents {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    font-size: x-large;
}

#introduce {
    background-color: #2E64FE;
}

#aboutFundding {
    background-color: white;
}

#inquiry {
    background-color: #f5f5f5;
    text-align: center;
}